GestionLocation/Connected Services/MetierGestionLocation/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62466/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierGestionLocation" />
  <xs:import schemaLocation="http://localhost:62466/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierGestionLocation" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierGestionLocation" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppartement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="appartement" nillable="true" type="q3:Appartement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppartementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAppartementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeAppartement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adresse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacite" nillable="true" type="xs:float" />
        <xs:element minOccurs="0" name="disponible" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeAppartementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListeAppartementResult" nillable="true" type="q4:ArrayOfAppartement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppartementById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppartementByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetAppartementByIdResult" nillable="true" type="q5:Appartement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppartement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="appartement" nillable="true" type="q6:Appartement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppartementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAppartementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppartement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="appartement" nillable="true" type="q7:Appartement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppartementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAppartementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocataire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="locataire" nillable="true" type="q8:Locataire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocataireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocataireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocataire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="locataire" nillable="true" type="q9:Locataire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocataireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLocataireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocataire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="locataire" nillable="true" type="q10:Locataire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocataireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLocataireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocataireById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocataireByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetLocataireByIdResult" nillable="true" type="q11:Locataire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeLocataires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeLocatairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListeLocatairesResult" nillable="true" type="q12:ArrayOfLocataire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProprietaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="proprietaire" nillable="true" type="q13:Proprietaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProprietaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProprietaireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProprietaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="proprietaire" nillable="true" type="q14:Proprietaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProprietaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProprietaireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProprietaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="proprietaire" nillable="true" type="q15:Proprietaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProprietaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProprietaireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProprietaireById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProprietaireByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetProprietaireByIdResult" nillable="true" type="q16:Proprietaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeProprietaires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeProprietairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListeProprietairesResult" nillable="true" type="q17:ArrayOfProprietaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModePaiement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="mode" nillable="true" type="q18:ModePaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModePaiementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModePaiementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModePaiementById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModePaiementByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetModePaiementByIdResult" nillable="true" type="q19:ModePaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModePaiement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="mode" nillable="true" type="q20:ModePaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModePaiementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateModePaiementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModePaiement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="mode" nillable="true" type="q21:ModePaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModePaiementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModePaiementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeModePaiements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeModePaiementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListeModePaiementsResult" nillable="true" type="q22:ArrayOfModePaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContratLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="contrat" nillable="true" type="q23:ContratLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContratLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContratLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContratLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="contrat" nillable="true" type="q24:ContratLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContratLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContratLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContratLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="contrat" nillable="true" type="q25:ContratLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContratLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContratLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratLocationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratLocationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetContratLocationByIdResult" nillable="true" type="q26:ContratLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeContratLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeContratLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListeContratLocationResult" nillable="true" type="q27:ArrayOfContratLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaiement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="paiement" nillable="true" type="q28:Paiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaiementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPaiementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaiement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="paiement" nillable="true" type="q29:Paiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaiementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePaiementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaiement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="paiement" nillable="true" type="q30:Paiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaiementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePaiementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaiementById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaiementByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetPaiementByIdResult" nillable="true" type="q31:Paiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListePaiements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateDebut" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFin" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idContrat" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListePaiementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListePaiementsResult" nillable="true" type="q32:ArrayOfPaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="utilisateur" nillable="true" type="q33:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="utilisateur" nillable="true" type="q34:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="utilisateur" nillable="true" type="q35:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateurById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateurByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetUtilisateurByIdResult" nillable="true" type="q36:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifiant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motDePasse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q37:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeUtilisateurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeUtilisateursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" minOccurs="0" name="GetListeUtilisateursResult" nillable="true" type="q38:ArrayOfUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>