GestionLocation/Connected Services/MetierGestionLocation/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62466/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62466/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62466/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierGestionLocation" />
      <xsd:import schemaLocation="http://localhost:62466/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierGestionLocation.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAppartement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAppartement" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAppartement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppartementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeAppartement_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeAppartement" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeAppartement_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeAppartementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppartementById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppartementById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppartementById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppartementByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAppartement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppartement" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAppartement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppartementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppartement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppartement" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppartement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppartementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLocataire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocataire" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLocataire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocataireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLocataire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocataire" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLocataire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocataireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLocataire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocataire" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLocataire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocataireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocataireById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocataireById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocataireById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocataireByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeLocataires_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeLocataires" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeLocataires_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeLocatairesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProprietaire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProprietaire" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProprietaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProprietaireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProprietaire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProprietaire" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProprietaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProprietaireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProprietaire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProprietaire" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProprietaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProprietaireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProprietaireById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProprietaireById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProprietaireById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProprietaireByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeProprietaires_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeProprietaires" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeProprietaires_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeProprietairesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddModePaiement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModePaiement" />
  </wsdl:message>
  <wsdl:message name="IService1_AddModePaiement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddModePaiementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetModePaiementById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModePaiementById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetModePaiementById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModePaiementByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateModePaiement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateModePaiement" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateModePaiement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateModePaiementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteModePaiement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteModePaiement" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteModePaiement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteModePaiementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeModePaiements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeModePaiements" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeModePaiements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeModePaiementsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContratLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContratLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContratLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContratLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateContratLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContratLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateContratLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContratLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteContratLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContratLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteContratLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContratLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContratLocationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContratLocationById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContratLocationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContratLocationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeContratLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeContratLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeContratLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeContratLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPaiement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPaiement" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPaiement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaiementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePaiement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaiement" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePaiement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaiementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePaiement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaiement" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePaiement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaiementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPaiementById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaiementById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPaiementById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaiementByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListePaiements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListePaiements" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListePaiements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListePaiementsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUtilisateurById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUtilisateurById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeUtilisateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListeUtilisateurs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListeUtilisateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListeUtilisateursResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAppartement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAppartement" message="tns:IService1_AddAppartement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAppartementResponse" message="tns:IService1_AddAppartement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListeAppartement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListeAppartement" message="tns:IService1_GetListeAppartement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListeAppartementResponse" message="tns:IService1_GetListeAppartement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppartementById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppartementById" message="tns:IService1_GetAppartementById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppartementByIdResponse" message="tns:IService1_GetAppartementById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAppartement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAppartement" message="tns:IService1_DeleteAppartement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAppartementResponse" message="tns:IService1_DeleteAppartement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppartement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAppartement" message="tns:IService1_UpdateAppartement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAppartementResponse" message="tns:IService1_UpdateAppartement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocataire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLocataire" message="tns:IService1_AddLocataire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLocataireResponse" message="tns:IService1_AddLocataire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocataire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateLocataire" message="tns:IService1_UpdateLocataire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateLocataireResponse" message="tns:IService1_UpdateLocataire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocataire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteLocataire" message="tns:IService1_DeleteLocataire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteLocataireResponse" message="tns:IService1_DeleteLocataire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocataireById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLocataireById" message="tns:IService1_GetLocataireById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLocataireByIdResponse" message="tns:IService1_GetLocataireById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListeLocataires">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListeLocataires" message="tns:IService1_GetListeLocataires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListeLocatairesResponse" message="tns:IService1_GetListeLocataires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProprietaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProprietaire" message="tns:IService1_AddProprietaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProprietaireResponse" message="tns:IService1_AddProprietaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProprietaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProprietaire" message="tns:IService1_UpdateProprietaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProprietaireResponse" message="tns:IService1_UpdateProprietaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProprietaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProprietaire" message="tns:IService1_DeleteProprietaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProprietaireResponse" message="tns:IService1_DeleteProprietaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProprietaireById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProprietaireById" message="tns:IService1_GetProprietaireById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProprietaireByIdResponse" message="tns:IService1_GetProprietaireById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListeProprietaires">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListeProprietaires" message="tns:IService1_GetListeProprietaires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListeProprietairesResponse" message="tns:IService1_GetListeProprietaires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddModePaiement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddModePaiement" message="tns:IService1_AddModePaiement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddModePaiementResponse" message="tns:IService1_AddModePaiement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModePaiementById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetModePaiementById" message="tns:IService1_GetModePaiementById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetModePaiementByIdResponse" message="tns:IService1_GetModePaiementById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateModePaiement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateModePaiement" message="tns:IService1_UpdateModePaiement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateModePaiementResponse" message="tns:IService1_UpdateModePaiement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteModePaiement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteModePaiement" message="tns:IService1_DeleteModePaiement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteModePaiementResponse" message="tns:IService1_DeleteModePaiement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListeModePaiements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListeModePaiements" message="tns:IService1_GetListeModePaiements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListeModePaiementsResponse" message="tns:IService1_GetListeModePaiements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContratLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddContratLocation" message="tns:IService1_AddContratLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddContratLocationResponse" message="tns:IService1_AddContratLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContratLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateContratLocation" message="tns:IService1_UpdateContratLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateContratLocationResponse" message="tns:IService1_UpdateContratLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContratLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteContratLocation" message="tns:IService1_DeleteContratLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteContratLocationResponse" message="tns:IService1_DeleteContratLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContratLocationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContratLocationById" message="tns:IService1_GetContratLocationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContratLocationByIdResponse" message="tns:IService1_GetContratLocationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListeContratLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListeContratLocation" message="tns:IService1_GetListeContratLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListeContratLocationResponse" message="tns:IService1_GetListeContratLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPaiement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPaiement" message="tns:IService1_AddPaiement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPaiementResponse" message="tns:IService1_AddPaiement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaiement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePaiement" message="tns:IService1_UpdatePaiement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePaiementResponse" message="tns:IService1_UpdatePaiement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePaiement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePaiement" message="tns:IService1_DeletePaiement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePaiementResponse" message="tns:IService1_DeletePaiement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaiementById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPaiementById" message="tns:IService1_GetPaiementById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPaiementByIdResponse" message="tns:IService1_GetPaiementById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListePaiements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListePaiements" message="tns:IService1_GetListePaiements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListePaiementsResponse" message="tns:IService1_GetListePaiements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUtilisateur" message="tns:IService1_AddUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUtilisateurResponse" message="tns:IService1_AddUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUtilisateur" message="tns:IService1_UpdateUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUtilisateurResponse" message="tns:IService1_UpdateUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUtilisateur" message="tns:IService1_DeleteUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUtilisateurResponse" message="tns:IService1_DeleteUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateurById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUtilisateurById" message="tns:IService1_GetUtilisateurById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUtilisateurByIdResponse" message="tns:IService1_GetUtilisateurById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AuthenticateUser" message="tns:IService1_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthenticateUserResponse" message="tns:IService1_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListeUtilisateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListeUtilisateurs" message="tns:IService1_GetListeUtilisateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListeUtilisateursResponse" message="tns:IService1_GetListeUtilisateurs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAppartement">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAppartement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListeAppartement">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListeAppartement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppartementById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppartementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAppartement">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAppartement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppartement">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAppartement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocataire">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLocataire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocataire">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateLocataire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocataire">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteLocataire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocataireById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLocataireById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListeLocataires">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListeLocataires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProprietaire">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProprietaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProprietaire">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProprietaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProprietaire">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProprietaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProprietaireById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProprietaireById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListeProprietaires">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListeProprietaires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModePaiement">
      <soap:operation soapAction="http://tempuri.org/IService1/AddModePaiement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModePaiementById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetModePaiementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateModePaiement">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateModePaiement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteModePaiement">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteModePaiement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListeModePaiements">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListeModePaiements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContratLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/AddContratLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContratLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateContratLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContratLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteContratLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContratLocationById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContratLocationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListeContratLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListeContratLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaiement">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPaiement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaiement">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePaiement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaiement">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePaiement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaiementById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPaiementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListePaiements">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListePaiements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateurById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUtilisateurById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListeUtilisateurs">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListeUtilisateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62466/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>